<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- test suite for thrax -->

<suite name="Thrax" verbose="1">

    <test name="GetOpt">
        <packages>
	    <package name="edu.jhu.thrax.util.getopt"/>
	</packages>
    </test>

    <test name="Datatypes">
        <packages>
	    <package name="edu.jhu.thrax.datatypes"/>
	</packages>
    </test>

</suite>

