<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- test suite for thrax -->

<suite name="GetOpt" verbose="1">

    <test name="Option">
        <classes>
	    <class name="edu.jhu.thrax.util.getopt.OptionTest"/>
	</classes>
    </test>

    <test name="GetOpt">
        <classes>
	    <class name="edu.jhu.thrax.util.getopt.GetOptTest"/>
	</classes>
    </test>

</suite>
